<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<!-- <h3>Chat</h3> -->

	<ion-row style="margin-top: 16px;">
		<ion-col size="4">
			<span style="background-image: url(assets/restaurant.jpg)" class="logo-restaurante"></span>
		</ion-col>
		<ion-col size="8">
			<h2 class="title-tactic">Brooklyn River Bar</h2>
		</ion-col>
	</ion-row>

	<br>

</ion-content>
