<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<ion-button class="an-button" [routerLink]="['/local/locales/nuevo']" (click)="clearNv()" routerDirection="forward">Nuevo Local</ion-button>

	</h4>

	<h3>Mis Locales</h3>

	<br>

	<div>
		
		<div class="local" *ngFor="let l of locales" >
			<ion-row>
				<ion-col size="3">
					<div class="rest-pic" [ngStyle]="{'background-image': 'url('+l.main+')'}">
						
					</div>
				</ion-col>
				<ion-col size="9">
					<div class="rest-info">
						<label class="title">{{l.title}}</label>

						<small style="text-overflow: ellipsis; white-space: nowrap;">{{l.locality.name}}</small>

						<div class="opciones">
							<img src="assets/locales/borrar.svg" alt="" (click)="deleteLocal(l.id)">
							<img src="assets/locales/editar.svg" alt="" (click)="editLocal(l)">
							<img src="assets/locales/fuego.svg" alt="" (click)="presentModal(l.id,l.ocupation)">
							<img src="assets/locales/moda.svg" alt="" [routerLink]="['/local/locales/ropero']">
							<img src="assets/locales/silla.svg" alt="" (click)="verSalas(l)">
						</div>

						<!-- <label class="label-1">4.3</label>

						<ion-icon name="heart-outline"></ion-icon> -->
					</div>
				</ion-col>
			</ion-row>
		</div>

		<ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreLocals($event)">
		    <ion-infinite-scroll-content
		      loadingSpinner="bubbles"
		      loadingText="Cargando locales...">
		    </ion-infinite-scroll-content>
		</ion-infinite-scroll>

	</div>

</ion-content>
