<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<div class="ion-padding" style="background-image: url(assets/fondo-02.png); background-size: cover; background-position: center; height: fit-content; min-height: 100%;">
		

	<h4> <ion-icon [routerLink]="['/local/listas']" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<!-- <img src="assets/pin.svg" alt="" [routerLink]="['/tabs/home/map']" style="height: 28px;"> -->

	</h4>

	<h3>{{list.title}}</h3>

	<ion-list>

		<ion-item class="ion-no-padding" lines="none">
			<!-- <ion-label position="stacked">LOCALIDAD</ion-label> -->

			<div class="search">
				<span>
					<ion-icon name="search"></ion-icon>
				</span>

				<input type="text" [(ngModel)]="query" (keyup)="searchUsers()" placeholder="Buscar invitado">
			</div>

		</ion-item>


	</ion-list>

	<span style="background-image: url({{listLogo}})" class="logo-restaurante"></span>

	<ion-card class="list-card" *ngFor="let guest of users; let i = index">
		
		<ion-card-content>
			<ion-row>
				<ion-col size="2" style="display: flex;" (click)="saveRosterUser(guest,i)" *ngIf="!guest.lists[0]?.status">
					<ion-icon *ngIf="!guest.lists.length" name="square-outline"></ion-icon>
					<ion-icon *ngIf="guest.lists.length" style="color: lightgreen;" name="checkbox-outline"></ion-icon>
				</ion-col>
				<ion-col size="2" style="display: flex;" *ngIf="guest.lists[0]?.status">
					<ion-icon style="color: lightgreen;" name="checkmark-done-outline"></ion-icon>
				</ion-col>
				<ion-col size="8" style="display: flex">
					<h5 style="width: 100%; vertical-align: middle; text-align: center;">

						{{guest.name+' '+guest.last_name}}

						<div *ngIf="!guest.lists[0]?.status && guest.lists.length">
							
							<br>

							<small style="display: block; width: 100%; text-align: center; position: relative; margin-bottom: -20px;" (click)="markAssist(guest.lists[0],i)">
								Marcar como asistente
							</small>
						</div>

						<div *ngIf="!guest.lists.length">
							<br>
							<small style="display: block; width: 100%; text-align: center; position: relative; margin-bottom: -20px;">...</small>
						</div>

						<div *ngIf="guest.lists[0]?.status">
							<br>
							<small style="display: block; width: 100%; text-align: center; position: relative; margin-bottom: -20px;">Asistente</small>
						</div>

					</h5>

				</ion-col>
				<ion-col size="2" style="display: flex;">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card>

	<ion-card class="list-card" *ngFor="let guest of guests; let i = index">
		
		<ion-card-content>
			<ion-row>
				<ion-col size="2" style="display: flex;" (click)="removeGuest(guest)" *ngIf="!guest.status">
					<!-- <ion-icon *ngIf="!guest.lists.length" name="square-outline"></ion-icon> -->
					<ion-icon style="color: lightgreen;" name="checkbox-outline"></ion-icon>
				</ion-col>
				<ion-col size="2" style="display: flex;" *ngIf="guest.status">
					<ion-icon style="color: lightgreen;" name="checkmark-done-outline"></ion-icon>
				</ion-col>
				<ion-col size="8" style="display: flex">
					<h5 style="width: 100%; vertical-align: middle; text-align: center;">

						{{guest.name}} <span style="color:silver; font-size: 12px;">(Invitado por: {{guest.host.name+' '+guest.host.last_name}})</span>

						<div *ngIf="!guest.status">
							
							<br>

							<small style="display: block; width: 100%; text-align: center; position: relative; margin-bottom: -20px;" (click)="markAssistG(guest,i)">
								Marcar como asistente
							</small>

						</div>

						<div *ngIf="guest.status">
							<br>
							<small style="display: block; width: 100%; text-align: center; position: relative; margin-bottom: -20px;">Asistente</small>
						</div>

					</h5>
					
				</ion-col>
				<ion-col size="2" style="display: flex;">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card>
<!-- 
	<ion-card class="list-card">
		
		<ion-card-content>
			<ion-row (click)="addGuest(2)">
				<ion-col size="2" style="display: flex;">
					<ion-icon name="checkbox-outline" [ngStyle]="{'color': ((guests | guests:2) ? 'lightgreen' : '#fff') }"></ion-icon>
				</ion-col>
				<ion-col size="8" style="display: flex">
					<h5 style="margin: auto; vertical-align: middle;">Nombre invitado 2</h5>
				</ion-col>
				<ion-col size="2" style="display: flex;">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card>

	<ion-card class="list-card">
		
		<ion-card-content>
			<ion-row (click)="addGuest(3)">
				<ion-col size="2" style="display: flex;">
					<ion-icon name="checkbox-outline" [ngStyle]="{'color': ((guests | guests:3) ? 'lightgreen' : '#fff') }"></ion-icon>
				</ion-col>
				<ion-col size="8" style="display: flex">
					<h5 style="margin: auto; vertical-align: middle;">Nombre invitado 3</h5>
				</ion-col>
				<ion-col size="2" style="display: flex;">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card> -->
	
		<ion-button (click)="saveUsers()" class="an-button" routerDirection="root">Terminar</ion-button>
	</div>


</ion-content>
