ion-content {
	// --background: url(../../../assets/fondo-01.png) 0 0/100% 100% no-repeat;
	// --background-size: cover;
	// --background-position: center;
}

h2 {
	color: #a365b8;
	text-align: center;
	font-weight: 100;
	font-size: 32px;
	margin-top: -20px;
}

h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 0;
	
}

h4 {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

h5 {
	color: #f0f0f0;
	margin-bottom: 4px;
	position: relative;
	text-align: center;
	small {
		// right: 0;
		color: gray;
		font-size: 12px;
		// position: absolute;
		// bottom: 0;
	}
}

h6 {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	small {
		line-height: 18px;
		font-size: 14px;
		display: block;
		color: #767070;
		margin-top: 10px;
	}
}

.header-box {
	background-color: #312f2f;
	border-radius: 0 0 30px 30px;
	padding-bottom: 10px;
}

.greetings-message {
	text-align: center;
	margin-top: 20px;

	ion-list{
		background: transparent !important;
	}
	ion-item {
		--inner-padding-end: 0;
		--background: transparent !important;
		color: #b3b3b3;
		.search {
			width: 100%;
			background-color: #1c1c1c;
			padding: 10px 20px;
			margin-top: 12px;
			border-radius: 12px;
			ion-icon {
				font-size: 18px;
				position: relative;
				top: 2px;
			}
			input {
				background: transparent;
				border: none;
				padding-left: 10px;
			}
		}
	}
}

.faq-title {
	color: #767070;
	font-size: 15px;
	font-weight: bold;

	ion-icon {
		color: crimson;
		position: relative;
		top: 3px;
	}
}

.faqs {
	padding: 0 !important;
	li {
		list-style: none;
		line-height: 38px;
		font-size: 16px;
		color: #ccc;
		ion-icon {
			color: crimson;
			position: relative;
			top: 3px;
		}
	}
}

.p-faq {
	line-height: 18px;
	font-size: 16px;
	color: #ccc;
}