<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="">

	<div class="header-box ion-padding">
		
	<h4>
		<!-- <ion-icon (click)="nav.pop()" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Soporte y FAQs</h3>

	<div class="greetings-message">
		
		<h6>!Hola¡ ¿cómo <br> podemos ayudarte?
			<!-- <small>Nemo enim ipsam voluptatem <br> quia voluptas sit.</small> -->
		</h6>
		
		<ion-list>

			<ion-item class="ion-no-padding" lines="none">
				<!-- <ion-label position="stacked">LOCALIDAD</ion-label> -->

				<div class="search">
					<span>
						<ion-icon name="search"></ion-icon>
					</span>

					<input type="text" [(ngModel)]="query">
				</div>

			</ion-item>


		</ion-list>
	</div>

	</div>

	<br>

	<div class="ion-padding">

		<div *ngIf="!lorem">

			<div *ngFor="let s of faqs | search:query">
				
				<label class="faq-title">{{s.title}}</label>

				<ul class="faqs" >
					<li (click)="lorem = faq.answer; title = faq.title" *ngFor="let faq of s.questions | search:query"><ion-icon name="arrow-forward"></ion-icon> {{faq.title}}</li>
				</ul>
			</div>

		</div>

		<div *ngIf="lorem">
			
			<label (click)="lorem = null" class="faq-title"><ion-icon name="arrow-back"></ion-icon> {{title}}</label>

			<p class="p-faq" [innerHtml]="lorem">
			</p>

		</div>

	</div>

</ion-content>
