<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="">

	<div class="header-box ion-padding">
		
	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Soporte y FAQs</h3>

	<div class="greetings-message">
		
		<h6>!Hola¡ ¿cómo <br> podemos ayudarte? <small>Nemo enim ipsam voluptatem <br> quia voluptas sit.</small></h6>
		
		<ion-list>

			<ion-item class="ion-no-padding" lines="none">
				<!-- <ion-label position="stacked">LOCALIDAD</ion-label> -->

				<div class="search">
					<span>
						<ion-icon name="search"></ion-icon>
					</span>

					<input type="text">
				</div>

			</ion-item>


		</ion-list>
	</div>

	</div>

	<br>

	<div class="ion-padding">

		<div *ngIf="!lorem">
			
			<label class="faq-title">Pagos y descuentos</label>

			<ul class="faqs" (click)="lorem = 1">
				<li><ion-icon name="arrow-forward"></ion-icon> Totam rem aperiam</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Sed quia consequuntur magni</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Neque porro quisquam est</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Aliquam quaerat voluptatem</li>
			</ul>

			<label class="faq-title">Información</label>

			<ul class="faqs" (click)="lorem = 1">
				<li><ion-icon name="arrow-forward"></ion-icon> Totam rem aperiam</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Sed quia consequuntur magni</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Neque porro quisquam est</li>
				<li><ion-icon name="arrow-forward"></ion-icon> Aliquam quaerat voluptatem</li>
			</ul>

		</div>

		<div *ngIf="lorem">
			
			<label (click)="lorem = null" class="faq-title"><ion-icon name="arrow-back"></ion-icon> Lorem ipsum</label>

			<p class="p-faq">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima optio voluptatum neque itaque illum, facilis possimus soluta nihil? Modi placeat perferendis aspernatur amet reiciendis enim similique aperiam praesentium, eligendi accusantium. <br> <br>

				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vero, exercitationem aliquid perferendis deserunt quas. Eligendi, veritatis nesciunt alias nihil placeat illo culpa sapiente! Quaerat aperiam repellat autem, ad ipsum?
			</p>

		</div>

	</div>

</ion-content>
