<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.pop()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Sala {{local.title}}</h3>

<!-- 	<ion-row style="margin-top: 16px;">
		<ion-col size="4">
			<span style="background-image: url(assets/restaurant.jpg)" class="logo-restaurante"></span>
		</ion-col>
		<ion-col size="8">
			<h2 class="title-tactic">Brooklyn River Bar</h2>
		</ion-col>
	</ion-row> -->

	<br>

	<div>

		<ion-button class="an-button" [disabled]="!users.length" (click)="openDetalle()">Ver nuevos usuarios</ion-button>

		<small>Usuarios aprobados</small>

		<div *ngFor="let u of aprobedUsers">
			<ion-row style="background-color: #373333; border-radius: 20px; margin-bottom: 20px">
				<ion-col size="3" (click)="openChat(u)">
					<div class="profile-pic" [ngStyle]="{'background-image': 'url('+(u.avatar || 'assets/user.jpg')+')'}">
					</div>
				</ion-col>
				<ion-col size="6" style="display: flex;" (click)="openChat(u)">
					<h5 style="position: relative; margin: auto; text-align: center;">{{u.name}} <br> <small style="color: #a365b8">25 Años</small></h5>
				</ion-col>

				<ion-col size="3">
					<h5 style="position: relative; display: block; text-align: center;">
						<!-- <img src="assets/ig.svg" alt="" style="margin: auto; height: 50px;"> -->
						<ion-icon (click)="verGaleria(u)" name="image-outline" style="font-size: 50px"></ion-icon>
					</h5>
				</ion-col>
			</ion-row>
		</div>

		<div *ngIf="aprobedUsers?.length == 0">
			<h4>
				No hay usuarios aprobados
			</h4>
		</div>

		<!-- <ion-row style="background-color: #373333; border-radius: 20px; margin-bottom: 20px" (click)="openDetalle('1.jpg','Blanca Suarez','23 Años')">
			<ion-col size="3">
				<div class="profile-pic" style="background-image: url(assets/faces/1.jpg)">
				</div>
			</ion-col>
			<ion-col size="6" style="display: flex;">
				<h5 style="position: relative; margin: auto; text-align: center;">Blanca Suarez <br> <small style="color: #a365b8">23 Años</small></h5>
			</ion-col>

			<ion-col size="3">
				<h5 style="position: relative; display: block; text-align: center;">
					<img src="assets/ig.svg" alt="" style="margin: auto; height: 50px;">
				</h5>
			</ion-col>
		</ion-row>

		<ion-row style="background-color: #373333; border-radius: 20px; margin-bottom: 20px" (click)="openDetalle('2.jpg','María López','27 Años')">
			<ion-col size="3">
				<div class="profile-pic" style="background-image: url(assets/faces/2.jpg)">
				</div>
			</ion-col>
			<ion-col size="6" style="display: flex;">
				<h5 style="position: relative; margin: auto; text-align: center;">María López <br> <small style="color: #a365b8">27 Años</small></h5>
			</ion-col>

			<ion-col size="3">
				<h5 style="position: relative; display: block; text-align: center;">
				</h5>
			</ion-col>
		</ion-row>

		<ion-row style="background-color: #373333; border-radius: 20px; margin-bottom: 20px" (click)="openDetalle('3.jpg','Jorge Solano','28 Años')">
			<ion-col size="3">
				<div class="profile-pic" style="background-image: url(assets/faces/3.jpg)">
				</div>
			</ion-col>
			<ion-col size="6" style="display: flex;">
				<h5 style="position: relative; margin: auto; text-align: center;">Jorge Solano <br> <small style="color: #a365b8">28 Años</small></h5>
			</ion-col>

			<ion-col size="3">
				<h5 style="position: relative; display: block; text-align: center;">
					<img src="assets/ig.svg" alt="" style="margin: auto; height: 50px;">
				</h5>
			</ion-col>
		</ion-row> -->

	</div>

</ion-content>
