<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<ion-button class="an-button" [routerLink]="['/local/ofertas/nueva-oferta']" routerDirection="root">Nueva oferta</ion-button>

	</h4>

	<h3>Todas mis ofertas</h3>

	<ion-row style="margin-top: 16px;">
		<ion-col size="4">
			<span [ngStyle]="{'background-image': 'url('+(user.avatar ? user.avatar : 'assets/user.jpg')+')'}" class="logo-restaurante"></span>
		</ion-col>
		<ion-col size="8">
			<h2 class="title-tactic">{{user.name+' '+user.last_name}}</h2>
		</ion-col>
	</ion-row>

	<br>

	<div>
		
		<ion-row style="margin-bottom: 12px;" *ngFor="let o of offers">
			<ion-col size="9">
				<div [ngClass]="(o | expired:'diff') <= 0 ? 'left-side-off past' : 'left-side-off'">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" [ngStyle]="{'background-image': 'url('+o.avatar+')'}">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">{{o.title}}</label>

								<small>{{o.establishment.title}}</small>

								<label class="label-1">{{o.type == 1 ? 'Descuento' : 'Promoción'}}</label>
								<label class="label-2">{{(o | expired:'diff') <= 0 ? '0' : (o | expired:'diff')}} Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<ion-icon name="trash" class="delete-icon" (click)="deleteOffer(o.id)"></ion-icon>
					<h1>{{o.type == 1 ? o.quantity : o.quantity+'x1'}}</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreOffers($event)">
		    <ion-infinite-scroll-content
		      loadingSpinner="bubbles"
		      loadingText="Cargando ofertas...">
		    </ion-infinite-scroll-content>
		</ion-infinite-scroll>

		<!-- <ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Promoción</label>
								<label class="label-2">11 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>2x1</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off past">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Descuento</label>
								<label class="label-2">0 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off past">
					<h1>%20</h1>
				</div>
			</ion-col>
		</ion-row> -->

	</div>

</ion-content>
