<ion-header hidden>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<img src="../assets/logo.svg" alt="" class="logo mt-def mt-40">

	<h2>AMBIENT NOISE</h2>

	<div id="bottom-part">
		<h3>Bienvenido</h3>

		<small>¡Encuentra el local que está mejor en este momento!</small>

		<div style="clear: both;"></div>

		<ion-button class="an-button mt-40" [routerLink]="['/disclaimer']" routerDirection="root">Tutorial</ion-button>
	</div>

</ion-content>
