<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon [routerLink]="['/tabs/perfil']" routerDirection="back" name="chevron-back"></ion-icon>

	</h4>

	<h3>Ajustes</h3>

	<br>

	<ion-row style="background-color: #373333; border-radius: 20px;">
		<ion-col size="3">
			<div class="profile-pic" style="background-image: url(assets/face.jpg)">
				
			</div>
		</ion-col>
		<ion-col size="9">
			<h5 style="position: relative; top: 12px;">Cambiar imagen de Avatar</h5>
		</ion-col>
	</ion-row>

	<br>

	<ion-card class="ion-no-margin card-profile" style="border-radius: 18px;">
	
	  <ion-card-header style="padding-bottom: 0; color: #fff;">
	    PERSONAL
	  </ion-card-header>
	
	  <ion-card-content>
	    <!-- Add card content here! -->
	    <ion-list class="ion-no-padding">
	    	<ion-item class="ion-no-padding">
	    		<ion-label position="floating">
		    		Nombre
	    		</ion-label>
	    		<ion-input type="text" ></ion-input>
	    	</ion-item>

	    	<ion-item class="ion-no-padding">
	    		<ion-label position="floating">
		    		Apellidos
	    		</ion-label>
	    		<ion-input type="text" ></ion-input>
	    	</ion-item>

	    	<ion-item class="ion-no-padding">
	    		<ion-label position="floating">
		    		E-mail
	    		</ion-label>
	    		<ion-input type="text" ></ion-input>
	    	</ion-item>

	    	<ion-item class="ion-no-padding">
	    		<ion-label position="floating">
		    		Cambiar contraseña
	    		</ion-label>
	    		<ion-input type="password" ></ion-input>
	    	</ion-item>

	    	<ion-item class="ion-no-padding">
	    		<ion-label position="floating">
		    		Repetir contraseña
	    		</ion-label>
	    		<ion-input type="password" ></ion-input>
	    	</ion-item>

	    </ion-list>
	  </ion-card-content>
	
	</ion-card>

	<br>

	<ion-button class="an-button" [routerLink]="['/tabs/perfil/ajustes']">Guardar</ion-button>

</ion-content>
