ion-content {
	// --background: url(../../../assets/fondo-01.png) 0 0/100% 100% no-repeat;
	// --background-size: cover;
	// --background-position: center;
}

h2 {
	color: #a365b8;
	text-align: center;
	font-weight: 100;
	font-size: 32px;
	margin-top: -20px;
}

h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 35px;
	
}

h4 {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

h5 {
	color: #f0f0f0;
	margin-bottom: 4px;
	position: relative;
	text-align: center;
	small {
		// right: 0;
		color: gray;
		font-size: 12px;
		// position: absolute;
		// bottom: 0;
	}
}

.profile-pic {
	border-radius: 20px !important;
}

.an-button {
	display: block;
	--border-radius: 22px;
	font-size: 10px;
	// width: 50%;
	// float: right;
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.card-profile {
	margin-top: 16px;
	--border-radius: 20px;
	background-color: #373333;
	ion-list{
		background: transparent !important;
	}
	ion-item {
		font-size: 13px;
		--background: transparent !important;
		color: #b3b3b3;
		label {
			padding-top: 24px;
			padding-bottom: 24px;
		}
		span {
			font-size: 20px;
		}
		[name="checkbox"] {
			color: lightgreen;
		}
	}
}