<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<div class="ion-padding" style="background-image: url(assets/fondo-01.png); background-size: cover; background-position: center; height: fit-content; min-height: 100%;">

	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Ofertas del local</h3>

	<ion-row style="margin-top: 16px;">
		<ion-col size="4">
			<span [ngStyle]="{'background-image': 'url('+local.avatar+')'}" class="logo-restaurante"></span>
		</ion-col>
		<ion-col size="8">
			<h2 class="title-tactic">{{local.title}}</h2>
		</ion-col>
	</ion-row>

	<br>

	<div>
		
		<ion-row style="margin-bottom: 12px;" *ngFor="let o of offers">
			<!-- <ion-col size="9" *ngIf="(o | expired:'diff') > 0"> -->
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" [ngStyle]="{'background-image': 'url('+o.avatar+')'}">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">{{o.title}}</label>

								<small>{{o.establishment.title}}</small>

								<label class="label-1">{{o.type == 1 ? 'Descuento' : 'Promoción'}}</label>
								<label class="label-2">{{(o | expired:'diff') <= 0 ? '0' : (o | expired:'diff')}} Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>{{o.type == 1 ? o.quantity : o.quantity+'x1'}}</h1>
				</div>
			</ion-col>
		</ion-row>

		<!-- <ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Descuento</label>
								<label class="label-2">11 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>2x1</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Descuento</label>
								<label class="label-2">11 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>%20</h1>
				</div>
			</ion-col>
		</ion-row> -->

	</div>
	
</div>

</ion-content>
