<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon (click)="nav.pop()" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<ion-button class="an-button" [routerLink]="['/local/listas/nueva-lista']">Nueva Lista</ion-button>

	</h4>

	<h3>Mis Listas</h3>

	<br>

	<div>
		
		<div class="local" *ngFor="let l of lists">
			<ion-row>
				<ion-col size="3">
					<div class="rest-pic" [ngStyle]="{'background-image': 'url('+l.avatar+')'}">
						
					</div>
				</ion-col>
				<ion-col size="9">
					<div class="rest-info">
						<label class="title" (click)="getList(l)">{{l.title}}</label>

						<small>
							<span style="margin-bottom: 6px; display: block;">{{l.establishment.title}}</span>
							{{l.users.length}}/{{l.participations}}
						</small>

						<div class="opciones">
							<small style="float: left; position: relative; top: 8px;" *ngIf="l.status == 0"><i>Inactiva</i></small>
							<img src="assets/locales/borrar.svg" alt="" (click)="deleteList(l.id)">
							<!-- <img src="assets/locales/editar.svg" alt=""> -->
							<ion-icon *ngIf="l.status == 1" name="checkbox-outline" ></ion-icon>
							<ion-icon style="color: gray" *ngIf="l.status == 0" name="warning-outline"></ion-icon>
						</div>

						<!-- <label class="label-1">4.3</label>

						<ion-icon name="heart-outline"></ion-icon> -->
					</div>
				</ion-col>
			</ion-row>
		</div>

		<ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreLists($event)">
		    <ion-infinite-scroll-content
		      loadingSpinner="bubbles"
		      loadingText="Cargando listas...">
		    </ion-infinite-scroll-content>
		</ion-infinite-scroll>

		<!-- <div class="local">
			<ion-row>
				<ion-col size="3">
					<div class="rest-pic" style="background-image: url('../assets/1.jpg')">
						
					</div>
				</ion-col>
				<ion-col size="9">
					<div class="rest-info">
						<label class="title">Lista 2</label>

						<small>Brooklyn River Bar</small>

						<div class="opciones">
							<img src="assets/locales/borrar.svg" alt="">
							<img src="assets/locales/editar.svg" alt="">
							<ion-icon name="checkbox-outline"></ion-icon>
						</div>

					</div>
				</ion-col>
			</ion-row>
		</div>

		<div class="local">
			<ion-row>
				<ion-col size="3">
					<div class="rest-pic" style="background-image: url('../assets/2.jpg')">
						
					</div>
				</ion-col>
				<ion-col size="9">
					<div class="rest-info">
						<label class="title">Lista 3</label>

						<small>Brooklyn River Bar</small>

						<div class="opciones">
							<img src="assets/locales/borrar.svg" alt="">
							<img src="assets/locales/editar.svg" alt="">
							<ion-icon name="checkbox-outline"></ion-icon>
						</div>

					</div>
				</ion-col>
			</ion-row>
		</div> -->

	</div>

</ion-content>
