
<ion-content class="ion-padding">

	<h4>
		<ion-icon (click)="nav.pop()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<!-- <ion-button class="an-button" [routerLink]="['/local/locales/nueva-reserva/'+room?.id]" routerDirection="forward">Crear reserva</ion-button> -->

	</h4>

	<h3>Mis reservas</h3>

	<br>


	<div *ngIf="reserves?.length > 0">
		
		<ion-row style="margin-bottom: 12px;">
			<ion-col size="12" class="all-rooms" *ngFor="let r of reserves">

				<h4>{{r.room.establishment.title}} <br> <small>{{r.room.title}}</small></h4>
				<div class="rooms" [ngClass]="{'only': reserves?.length == 1,'expired': (r | expired:'reserve')}">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" [ngStyle]="{'background-image': 'url('+r.room.avatar+')'}">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info" style="height: 70px;">
								<label class="title">{{r.date | expired:'date'}}</label>

								<small>De {{r.hour_from}}:{{r.minute_from}} a {{r.hour_to}}:{{r.minute_to}}</small>
							</div>

							<ion-row>
								<ion-col size="6" style="text-align: left">
								</ion-col>
								<ion-col size="2" style="text-align: right">
								</ion-col>
								<ion-col size="4" style="text-align: right">
									<ion-icon (click)="verQr(r)" class="verQr" name="qr-code-outline"></ion-icon>
								</ion-col>
							</ion-row>	
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
		</ion-row>
	</div>

</ion-content>
