<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Nuevo plato</h3>

	<!-- <br *ngIf="step < 4"> -->

	<div class="central-block">
		<ion-list>

			<form class="form" [formGroup]="validations_form">

				<ion-item class="ion-no-padding">
					<ion-label position="floating">TITULO DEL PLATO</ion-label>
					<ion-input formControlName="title" type="text" ></ion-input>

					<!-- <span slot="end">
						<ion-icon name="checkmark"></ion-icon>
					</span> -->
				</ion-item>
					<div class="validation-errors">
			          <ng-container *ngFor="let validation of validation_messages.title">
			            <div class="error-message" *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
			              {{ validation.message }}
			            </div>
			          </ng-container>
			        </div>


			    <ion-item class="ion-no-padding">
					<ion-label position="floating">DESCRIPCIÓN DEL PLATO</ion-label>
					<ion-textarea formControlName="description" rows="4"></ion-textarea>

					<!-- <span slot="end">
						<ion-icon name="checkmark"></ion-icon>
					</span> -->
				</ion-item>
					<div class="validation-errors">
			          <ng-container *ngFor="let validation of validation_messages.description">
			            <div class="error-message" *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
			              {{ validation.message }}
			            </div>
			          </ng-container>
			        </div>

			    <ion-item class="ion-no-padding">
					<ion-label position="floating">PRECIO</ion-label>
					<ion-input formControlName="price" type="number" ></ion-input>

					<!-- <span slot="end">
						<ion-icon name="checkmark"></ion-icon>
					</span> -->
				</ion-item>
					<div class="validation-errors">
			          <ng-container *ngFor="let validation of validation_messages.price">
			            <div class="error-message" *ngIf="validations_form.get('price').hasError(validation.type) && (validations_form.get('price').dirty || validations_form.get('price').touched)">
			              {{ validation.message }}
			            </div>
			          </ng-container>
			        </div>




					<ion-item class="ion-no-padding" lines="none">
						<ion-label position="stacked">IMAGEN DEL PLATO</ion-label>
						
						<span class="adicional-info">Carga la imagen del plato haciendo clic en el icono</span>

						<!-- <div class="logotipo" (click)="loadImage()">
							<div class="uploaded" [ngStyle]="{'background-image':'url('+validations_form.value.image+')'}">
							</div>
						</div> -->

						<!-- <span slot="end">
							<ion-icon name="checkmark"></ion-icon>
						</span> -->
						<div style="width: 100%">
						
							<div class="logotipo" (click)="loadImage()">
								<div class="uploaded" [ngStyle]="{'background-image':'url('+validations_form.value.image+')'}">
								</div>
							</div>

							<div style="position: relative; z-index: 9999;">
								<ion-button (click)="savePlate()" [disabled]="!validations_form.valid" class="an-button">Añadir plato</ion-button>
							</div>

						</div>
					</ion-item>

				</form>


		</ion-list>

	</div>

	<!-- <ion-button (click)="addGuests()" [disabled]="!validations_form.valid" class="an-button" routerDirection="root">Crear y Añadir Invitados</ion-button> -->


</ion-content>
