<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<img src="../assets/entrada.gif" alt="" class="splash-gif">
    <!-- <img src="../assets/entrada.gif" alt="" class="logo animation-target"> -->

	<!-- <h2>AMBIENT NOISE</h2> -->

	<!-- <video style="background: black;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
        z-index: 9990;
        object-fit: fill;" autoplay poster="noposter" (ended)="ended()">
	  <source src="assets/intro.mp4" type="video/mp4">
	</video> -->

	<span (click)="saltar()" style="position: absolute; bottom: 10px; right: 10px; color: #fff; z-index: 9999">
	    Saltar <ion-icon name="caret-forward" style="position: relative;top: 3px;"></ion-icon>
	</span>
</ion-content>

