<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon [routerLink]="['/login']" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<img src="../assets/logo.svg" alt="" class="logo mt-def" style="margin: -20px auto">

	<h3>Eventos destacados</h3>

	<br>

	<app-eventos-tutorial *ngIf="tutorialValue < 14"></app-eventos-tutorial>

	<div *ngIf="tutorialValue >=14">

		<div>
			
			<ion-row style="margin-bottom: 12px;" *ngFor="let e of eventos; let i = index">
				<ion-col size="12">
					<div class="left-side-off" (click)="openInformation(i)">
						<ion-row>
							<ion-col size="4">
								<div class="rest-pic" [ngStyle]="{'background-image': 'url('+e.avatar+')'}">
									
								</div>
							</ion-col>
							<ion-col size="8">
								<div class="rest-info">
									<!-- <ion-icon name="trash" class="delete-icon" (click)="deleteEvent(e.id)"></ion-icon> -->
									<label class="title">{{e.establishment.title}}</label>

									<small>{{e.title}}</small>

									<span class="date"> <span style="text-transform: capitalize;">{{e | expired:'local'}}</span> <br> de {{e.hour_from}} a {{e.hour_to}} H</span>
								</div>
							</ion-col>
						</ion-row>

						<div class="bottom-information-E" [id]="'bi-'+i">
							<hr>
							<h4>{{e.title}}</h4>
							<p [innerHtml]="e.description"></p>

							<span style="margin-top: 8px;" *ngIf="e.list" (click)="addGuess(e.list,i)">{{ e.list | guests:user.id:'list' }}</span>

						</div>
					</div>
				</ion-col>
			</ion-row>

			<!-- <ion-row style="margin-bottom: 12px;">
				<ion-col size="12">
					<div class="left-side-off" (click)="openInformation(2)">
						<ion-row>
							<ion-col size="4">
								<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
									
								</div>
							</ion-col>
							<ion-col size="8">
								<div class="rest-info">
									<label class="title">Brooklyn River Bar</label>

									<small>BRUGAL EXPERIENCE</small>

									<span class="date">Sábado 29 AGOSTO 2020 <br> de 00:00 a 02:00 H</span>
								</div>
							</ion-col>
						</ion-row>

						<div class="bottom-information" id="bi-2">
							<hr>
							<h4>BRUGAL EXPERIENCE</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Debitis similique sint quasi quod qui iusto sunt minima officia fugit itaque, dolore tempore est alias provident harum labore nesciunt repellendus iure.</p>

						</div>
					</div>
				</ion-col>
			</ion-row>

			<ion-row style="margin-bottom: 12px;">
				<ion-col size="12">
					<div class="left-side-off" (click)="openInformation(3)">
						<ion-row>
							<ion-col size="4">
								<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
									
								</div>
							</ion-col>
							<ion-col size="8">
								<div class="rest-info">
									<label class="title">Brooklyn River Bar</label>

									<small>BRUGAL EXPERIENCE</small>

									<span class="date">Sábado 29 AGOSTO 2020 <br> de 00:00 a 02:00 H</span>
								</div>
							</ion-col>
						</ion-row>

						<div class="bottom-information" id="bi-3">
							<hr>
							<h4>BRUGAL EXPERIENCE</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ipsam animi, laborum officia, provident perferendis accusantium nostrum? Necessitatibus, sunt, ducimus rerum, repudiandae corporis deleniti minima id dicta debitis placeat, illo iure!</p>

						</div>
					</div>
				</ion-col>
			</ion-row> -->

		</div>

	</div>

</ion-content>
