// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  // --ion-color-primary: #3880ff;
  // --ion-color-primary-rgb: 56, 128, 255;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;

  // /** secondary **/
  // --ion-color-secondary: #3dc2ff;
  // --ion-color-secondary-rgb: 61, 194, 255;
  // --ion-color-secondary-contrast: #ffffff;
  // --ion-color-secondary-contrast-rgb: 255, 255, 255;
  // --ion-color-secondary-shade: #36abe0;
  // --ion-color-secondary-tint: #50c8ff;

  // /** tertiary **/
  // --ion-color-tertiary: #5260ff;
  // --ion-color-tertiary-rgb: 82, 96, 255;
  // --ion-color-tertiary-contrast: #ffffff;
  // --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  // --ion-color-tertiary-shade: #4854e0;
  // --ion-color-tertiary-tint: #6370ff;

  // /** success **/
  // --ion-color-success: #2dd36f;
  // --ion-color-success-rgb: 45, 211, 111;
  // --ion-color-success-contrast: #ffffff;
  // --ion-color-success-contrast-rgb: 255, 255, 255;
  // --ion-color-success-shade: #28ba62;
  // --ion-color-success-tint: #42d77d;

  // /** warning **/
  // --ion-color-warning: #ffc409;
  // --ion-color-warning-rgb: 255, 196, 9;
  // --ion-color-warning-contrast: #000000;
  // --ion-color-warning-contrast-rgb: 0, 0, 0;
  // --ion-color-warning-shade: #e0ac08;
  // --ion-color-warning-tint: #ffca22;

  // /** danger **/
  // --ion-color-danger: #eb445a;
  // --ion-color-danger-rgb: 235, 68, 90;
  // --ion-color-danger-contrast: #ffffff;
  // --ion-color-danger-contrast-rgb: 255, 255, 255;
  // --ion-color-danger-shade: #cf3c4f;
  // --ion-color-danger-tint: #ed576b;

  // /** dark **/
  // --ion-color-dark: #222428;
  // --ion-color-dark-rgb: 34, 36, 40;
  // --ion-color-dark-contrast: #ffffff;
  // --ion-color-dark-contrast-rgb: 255, 255, 255;
  // --ion-color-dark-shade: #1e2023;
  // --ion-color-dark-tint: #383a3e;

  // /** medium **/
  // --ion-color-medium: #92949c;
  // --ion-color-medium-rgb: 146, 148, 156;
  // --ion-color-medium-contrast: #ffffff;
  // --ion-color-medium-contrast-rgb: 255, 255, 255;
  // --ion-color-medium-shade: #808289;
  // --ion-color-medium-tint: #9d9fa6;

  // /** light **/
  // --ion-color-light: #f4f5f8;
  // --ion-color-light-rgb: 244, 245, 248;
  // --ion-color-light-contrast: #000000;
  // --ion-color-light-contrast-rgb: 0, 0, 0;
  // --ion-color-light-shade: #d7d8da;
  // --ion-color-light-tint: #f5f6f9;
}

// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #a365b8;
    --ion-color-primary-rgb: 163,101,184;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #67287d;
    --ion-color-primary-tint: #a325cf;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
// }

ion-app.cameraView2, ion-app.cameraView2 ion-content {
  background: #121212;
  // .tabbar.show-tabbar{
  //   opacity: 0;
  // }
}

@font-face {
  font-family: 'sfpro';
  src: url('../assets/sfpro.ttf');
}

* {
  font-family: 'sfpro';
  outline: none !important;
}

.logo {
  max-width: 350px;
  width: 65%;
  margin: 10px auto !important;
  display: block;

}

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }




.animation-target {
  animation: animation 865ms linear both;
}

.profile-pic {
  width: 85px;
  height: 85px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
}

.card-restaurante {
  margin-bottom: 16px !important;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  label {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    small {
      font-weight: 100;
    }
  }
  div {
    margin-top: 16px;
    span {
      font-weight: 100;
      display: inline-block;
      text-align: center;
      color: #fff;
      padding: 3px 12px;
      font-size: 13px;
      background-color: #a365b8;
      border-radius: 6px;
      margin-right: 10px;
    }
  }
  [ng-reflect-name*="star"],[aria-label*="star"] {
    color: #e9a12f;
    font-size: 26px;
    position: relative;
    top: 6px;
    margin: 0 3px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
  }
  & ion-card-content {
    position: relative;
    z-index: 1;
  }
}

// [name="chevron-back"] {
//   margin-bottom: 16px;
// }

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A600%2CD%3A0%2Cf%3A%7Bx%3A-300%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A4%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22s%22%2Cd%3A800%2CD%3A65%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A0.1%2Cy%3A2.3%7D%2Cs%3A2%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22s%22%2Cd%3A300%2CD%3A30%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A5%2Cy%3A1%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */

@keyframes animation { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  2.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); }
  5.76% { transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); }
  8.68% { transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); }
  11.53% { transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); }
  19.23% { transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); }
  26.94% { transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); }
  42.35% { transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); }
  57.77% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.selections {
  ion-col:first-of-type {
    border-right: .5px solid #767070;
  }
  ion-col {
    padding: 10px;
    label {
      font-size: 14px !important;
      margin-top: 4px;
    }
  }
  small {
    color: #767070;
  }
}

.selected {
  background-color: #464545;
}

.type {
  font-size: 11px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #fff;
  margin-bottom: 12px;
  width: fit-content;
  margin-right: 1.5%;
  float: left;
  text-align: center;
  font-weight: 100;
  color: #fff;
}

.actual {
  border-color: #a365b8;
  color: #a365b8 !important;
}

.semitransp {
  --background: rgba(0,0,0,.9);
  ion-content {
    --background: transparent !important;
  }
}

.validation-errors {
  margin: -10px 0px 0px;
}
.error-message {
  font-size: 12px;
  color: orangered;
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #ccc;
  z-index: 9999;
}
.ver-plato {
  .modal-wrapper {
    width: 90vw !important;
    height: 600px !important;
    margin: auto !important;
    border-radius: 6px;
  }
}

.ver-galeria {
  .modal-wrapper {
    width: 90vw !important;
    height: 400px !important;
    margin: auto !important;
    border-radius: 6px;
  }
}

.qrPage {
  --background: rgba(0,0,0,.8);
  ion-content {
    --background: transparent !important;
  }
  // .modal-wrapper {
  //   // width: 100vw !important;
  //   // height:  !important;
  //   margin: auto !important;
  //   border-radius: 6px;
  //   background: rgba(0,0,0,.5)
  // } 
}

.qrclass {
  text-align: center;
  qrcode {
    margin: auto;
    position: relative;
    .qrcode {
      canvas {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

// .ios {
  // {
  //   // margin-bottom: 81px !important;
  // }
  .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
    // margin-bottom: 51px;
    position: absolute;

    label {
      color: #fff;
    }
  }

  #if-ios {
    // height: calc(100% - 51px) !important;
  }

  // .ion-page {
  //   position: fixed !important;
  // }

  ion-content {
    // --offset-bottom: -51px !important;
  }
// }

.chat-image {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: 1px solid #acacac;
  border-radius: 6px;
}

.button-infowindow {
  margin-top: 8px;
  padding: 6px 20px;
  background-color: #a365b8;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.button-goTo {
  margin-top: 8px;
  padding: 6px 20px;
  background-color: #f2f4f8;
  color: #333;
  font-size: 14px;
  border-radius: 6px;
}

.logo-restaurante-map {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  border: 1px solid #acacac;
  background-color: #acacac;
  margin: auto;
}

.tactic {
  border: 8px solid #a365b8;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }

// }
// 
// /* Portrait */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//         .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//           margin-bottom: 81px;
//         }

//         #if-ios {
//           height: calc(100% - 81px) !important;
//         }

//         .ion-page {
//           position: fixed !important;
//         }

//         ion-content {
//           --offset-bottom: -81px !important;
//         }
//       }
// }



// /* 2532x1170 pixels at 460ppi */
// @media only screen 
//   and (device-width: 390px) 
//   and (device-height: 844px) 
//   and (-webkit-device-pixel-ratio: 3) {
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

// /* 2778x1284 pixels at 458ppi */
// @media only screen 
//   and (device-width: 428px) 
//   and (device-height: 926px) 
//   and (-webkit-device-pixel-ratio: 3) {
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

// /* 1792x828px at 326ppi */
// @media only screen 
//   and (device-width: 414px) 
//   and (device-height: 896px) 
//   and (-webkit-device-pixel-ratio: 2) {
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

// /* 2436x1125px at 458ppi */
// @media only screen 
//   and (device-width: 375px) 
//   and (device-height: 812px) 
//   and (-webkit-device-pixel-ratio: 3) {
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

// /* 2688x1242px at 458ppi */
// @media only screen 
//   and (device-width: 414px) 
//   and (device-height: 896px) 
//   and (-webkit-device-pixel-ratio: 3) {
//     .ios {
//       .footer-chat {margin-bottom: 81px !important;}
//       ion-tab-button {position:relative; top: 3px;}
//       .bottom-informationH, .bottom-information1, .bottom-information, .bottom-informationD, .bottom-informationT {
//         margin-bottom: 81px;
//       }

//       #if-ios {
//         height: calc(100% - 81px) !important;
//       }

//       .ion-page {
//         position: fixed !important;
//       }

//       ion-content {
//         --offset-bottom: -81px !important;
//       }
//     }
// }

.contextual {
  position: absolute;
  top: 0px;
  right: 10px;
}

// qrScanner
ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
  .tabbar.show-tabbar{
    opacity: 0;
  }
}
[app-viewport],
[overlay-portal],
[nav-viewport],
[tab-portal],
.nav-decor {
  display: none !important;
  background: none transparent !important;
}
html,

body.transparent-body,

.transparent-body,

.transparent-body ion-app,

.transparent-body .app-root,

.transparent-body ion-nav,

.transparent-body .ion-page,

.transparent-body .nav-decor,

.transparent-body ion-content,

.transparent-body .viewscan,

.transparent-body .fixed-content,

.transparent-body .scroll-content {

  background-color: transparent !important;

  background: transparent none!important;
}

// .tabs-inner {
//   .bottom-informationH {
//     position: absolute;
//   }
// }

.alt {
  --background: transparent;
  border: 1px solid;
  border-radius: 22px;
  color: #fff !important;
  ion-icon {
    color: crimson;
    font-size: 24px;
  }
}

.alt-2 {
  --background: transparent !important;
  border: none;
  color: #fff !important;
  ion-icon {
    color: crimson;
    font-size: 24px;
  }
}

.view-cards {
  display: inline-block;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #a365b8;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
}

.view-cards:active {
  opacity: .7;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

.ios {
  #tabs-tutorial {
    bottom: 1.5px !important;
  }
}

.kbClose {
  height: calc(100vh - 260px);
}

.kbOpen {
  height: calc(100vh - 204px);
}

.badge {
  width: 12px;
  height: 12px;
  background-color: #a365b8;
  border-radius: 12px;
  position: absolute;
  left: 0;
  top: 0;
}