<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">


	<div style="position: relative; z-index: 1; height: 100%;" id="if-ios">
		<div #map id="map">
		</div>
		
		<h4>
			<ion-icon (click)="nav.pop()" name="chevron-back"></ion-icon>

			<ion-icon (click)="reload()" style="margin-left: 12px;" name="reload"></ion-icon>

			<!-- <img src="assets/pin.svg" alt="" [routerLink]="['/tabs/home/map']" style="height: 28px;"> -->

			<ion-icon (click)="changeBottom($event)" style="float: right;top: 4px;position: relative;color: #a365b8;" name="search"></ion-icon>

		</h4>

		<h3>Mapa</h3>

		<!-- <ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="changeSlide()" (ionSlideReachEnd)="cargarMas()"> -->
		<ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="changeSlide()">
			<ion-slide *ngFor="let l of establishments">
				<ion-card (click)="getLocal(l)" [routerLink]="['/tabs/home/detalles/'+l.id]" class="card-restaurante ion-no-margin"
				[ngStyle]="{'background-image': 'url('+l.main+')', 'background-size': 'cover', 'background-position': 'center'}">
				
				  <ion-card-content>
				    <label>{{l.title}} <br> <small>{{l.locality.name}}, {{l.city}}</small></label>
				  	<!-- <ion-icon name="locate-outline" class="goTo" (click)="goTo($event,l)"></ion-icon> -->
				    <br>
				    <div>
					    <span>
					    	{{l.stars ? (l.stars | number:'1.2-2') : '0.00'}}
					    </span>

					    <ion-icon [name]="l.stars | star:'0'"></ion-icon>
					    <ion-icon [name]="l.stars | star:'1'"></ion-icon>
					    <ion-icon [name]="l.stars | star:'2'"></ion-icon>
					    <ion-icon [name]="l.stars | star:'3'"></ion-icon>
					    <ion-icon [name]="l.stars | star:'4'"></ion-icon>
				    </div>
				  </ion-card-content>
				
				</ion-card>
			</ion-slide>

			<ion-slide style="opacity: 0">
				
			</ion-slide>

			<!-- <ion-slide>

				<ion-card [routerLink]="['/tabs/home/detalles']" class="card-restaurante ion-no-margin" style="background-image: url(assets/bobby-logan.jpg); background-size: cover; background-position: center;">
				
				  <ion-card-content>
				    <label>Bobby Logan <br> <small>Torre del mar, Málaga</small></label>
				    <br>
				    <div>
					    <span>
					    	4.3
					    </span>

					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star-half"></ion-icon>
					    <ion-icon name="star-outline"></ion-icon>
				    </div>
				  </ion-card-content>
				
				</ion-card>
			</ion-slide>

			<ion-slide>

				<ion-card [routerLink]="['/tabs/home/detalles']" class="card-restaurante ion-no-margin" style="background-image: url(assets/burger.jpg); background-size: cover; background-position: center;">
				
				  <ion-card-content>
				    <label>Fury Burguer <br> <small>Torremolinos, Málaga</small></label>
				    <br>
				    <div>
					    <span>
					    	4.3
					    </span>

					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star"></ion-icon>
					    <ion-icon name="star-half"></ion-icon>
					    <ion-icon name="star-outline"></ion-icon>
				    </div>
				  </ion-card-content>
				
				</ion-card>
			</ion-slide> -->
		</ion-slides>

	</div>


</ion-content>

<div class="bottom-information1" style="height: 28px;">
	
	<div class="handler1" (click)="changeBottom($event)">
		<ion-icon name="chevron-up"></ion-icon>
	</div>
	<div class="information-box1">

		<label>LOCALIDAD <small (click)="passFilterData()" routerDirection="forward"><ion-icon name="filter"></ion-icon> FILTRO AVANZADO</small></label>
		<ion-list>

			<ion-item class="ion-no-padding" lines="none" style="overflow: unset;">

				<div class="search">
					<span>
						<ion-icon name="search"></ion-icon>
					</span>

					<!-- <input type="text" id="searchM" [(ngModel)]="buscar" (keyup)="goBuscar()"> -->
					<input type="text" id="searchM">

					<!-- <div class="list-search" *ngIf="openDialog">
						
						<ul style="padding: 0">
							<li style="list-style: none; border-bottom: 1px solid #6e6e6e; padding: 4px 8px;"
							(click)="selectProvince(pr.id,pr.name)"
							*ngFor="let pr of provincias">{{pr.name}}</li>
						</ul>

					</div> -->
				</div>

			</ion-item>

			<hr style="border-bottom: .5px solid #767070">

			<div class="selections">
				
				<ion-row>
					<ion-col (click)="select(1)" [ngClass]="selection == 1 ? 'selected' : ''">
						<small>AMBIENTES</small>
						<label>{{ambientes | search:ambiente:'category' }}</label>
					</ion-col>

					<ion-col (click)="select(2)" [ngClass]="selection == 2 ? 'selected' : ''">
						<small>TIPO DE MUSICA</small>
						<label>{{tmusica | search:musica:'category' }}</label>
					</ion-col>
				</ion-row>

				<hr style="border-bottom: .5px solid #767070">

				<div *ngIf="selection == 1">
					<h5>AMBIENTES</h5>

					<div [ngClass]="ambiente == a.id ? 'type actual' : 'type'" *ngFor="let a of ambientes" (click)="ambiente = a.id">{{a.title}}</div>

					<br>

					<div style="clear: both;"></div>

					<!-- <ion-button class="an-button alt" (click)="close()" style="float: left; width: 40%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button> -->

					<ion-button class="an-button" (click)="cerrar()">Aplicar</ion-button>

					<div style="clear: both;"></div>
				</div>

				<div *ngIf="selection == 2">
					<h5>TIPO DE MÚSICA</h5>

					<div [ngClass]="musica == m.id ? 'type actual' : 'type'" *ngFor="let m of tmusica" (click)="musica = m.id">{{m.title}}</div>

					<br>

					<div style="clear: both;"></div>

					<!-- <ion-button class="an-button alt" (click)="close()" style="float: left; width: 40%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button> -->

					<ion-button class="an-button" (click)="cerrar()">Aplicar</ion-button>

					<div style="clear: both;"></div>
				</div>

				<ion-button class="an-button alt-2" (click)="close()" style="/*float: left;*/ width: 50%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button>

					<div style="clear: both;"></div>

			</div>


		</ion-list>
		
	</div>

</div>
