<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content #content>

	<div class="ion-padding" style="background-image: url(assets/fondo-restaurante-01.jpg); background-size: cover; background-position: center; height: fit-content; min-height: 100%;">
		

	<h4> <ion-icon (click)="back()" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<!-- <img src="assets/pin.svg" alt="" [routerLink]="['/tabs/home/map']" style="height: 28px;"> -->

	</h4>

	<span [routerLink]="['/tabs/home/tactic']" routerDirection="forward" style="background-image: url(assets/restaurant.jpg)" class="logo-restaurante"></span>


	
	<div id="title-restaurant">
		
		<h2 style="width: calc(100% - 50px); float: left;">
			Brooklin River Bar (50 m)
		</h2>
		<span style="width: 50px; float: right; font-size: 40px; color: #808080; text-align: right; top: 6px; position: relative;">
			<ion-icon name="heart-outline"></ion-icon>
		</span>
		<div>
		    <span>
		    	4.3
		    </span>

		    <ion-icon name="star"></ion-icon>
		    <ion-icon name="star"></ion-icon>
		    <ion-icon name="star"></ion-icon>
		    <ion-icon name="star-half"></ion-icon>
		    <ion-icon name="star-outline"></ion-icon>
	    </div>

	    <p>
	    	Famosa y exclusiva terraza de Verano ubicada en el cauce histórico del río Guadalquivir justo en plen corazón histórico de la ciudad. Disfruta con nosotrs de las mejores puestas de sol y tardeos de la capital.
	    </p>

	</div>

	<br>

    <div class="prime-time">

    	<div class="text-info">
    		<!-- En PRIME TIME <br> -->
    		<div>
    			
	    		Ocupación ahora: <br>
	    		<span>80-100%</span>
    		
    		</div>
    	</div>

    	<div class="fire">
    		<img src="assets/fire.svg" alt="">
    	</div>
    	
    </div>

    <br>
    <br>

    <ion-row>
    	
    	<ion-col size="6">
    		<ion-button class="an-button">
    			Reservar Mesa
    		</ion-button>
    	</ion-col>

    	<ion-col size="6">
    		<ion-button class="an-button" [routerLink]="['/tabs/home/lista']">
    			Inscribirse en Lista
    		</ion-button>
    	</ion-col>

    	<ion-col size="6">
    		<ion-button class="an-button">
    			Reservados
    		</ion-button>
    	</ion-col>

    	<ion-col size="6">
    		<ion-button class="an-button">
    			Galeria de Fotos
    		</ion-button>
    	</ion-col>

    	<ion-col size="6">
    		<ion-button class="an-button" [routerLink]="['/tabs/home/t-ofertas']">
    			Ofertas
    		</ion-button>
    	</ion-col>

    	<ion-col size="6">
    		<ion-button class="an-button" [routerLink]="['/tabs/home/eventos']">
    			Eventos
    		</ion-button>
    	</ion-col>

    </ion-row>

	</div>

	<div class="bottom-information" style="bottom: -480px;">
		
		<div class="handler" (click)="changeBottom()">
			<ion-icon name="chevron-up"></ion-icon>
		</div>
		<div class="information-box">
			
			<ion-row>
				<ion-col *ngFor="let t of types">
					<div [ngClass]="type == t ? 'type actual' : 'type'" (click)="type = t">{{t}}</div>
				</ion-col>
			</ion-row>


			<div *ngIf="type == 'Menú'">
				<ion-card class="ion-no-margin card-detalle" style="border-radius: 18px;">
					
				  <ion-card-content>
				    <!-- Add card content here! -->
				    <ion-list class="ion-no-padding">
				    	<ion-item lines="none">
				    		<label class="no-p-b">
					    		<span class="menu-type" (click)="collapse(1)">Platos <small>3</small></span>
					    		<div class="menu-items" id="items-1">
					    			<div class="menu-item">
					    				<div>Spaghetti Bolognaise <br> <span>15,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    			<div class="menu-item">
					    				<div>Sandwish Club <br> <span>17,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    			<div class="menu-item">
					    				<div>Burguer Málaga <br> <span>12,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    		</div>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label class="no-p-b">
					    		<span class="menu-type" (click)="collapse(2)">Cervezas <small>3</small></span>
					    		<div class="menu-items" id="items-2">
					    			<div class="menu-item">
					    				<div>Pilsener <br> <span>5,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    			<div class="menu-item">
					    				<div>Artesanal <br> <span>6,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    			<div class="menu-item">
					    				<div>Light <br> <span>4,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    		</div>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label class="no-p-b">
					    		<span class="menu-type">Combinados <small>0</small></span>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label class="no-p-b">
					    		<span class="menu-type">Combinados sin alcohol <small>0</small></span>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label class="no-p-b">
					    		<span class="menu-type" (click)="collapse(3)">Refrescos <small>2</small></span>
					    		<div class="menu-items" id="items-3">
					    			<div class="menu-item">
					    				<div>Coca Cola <br> <span>2,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    			<div class="menu-item">
					    				<div>Pepsi Cola <br> <span>2,00€</span>
					    				<ion-icon name="add"></ion-icon>
					    				</div>
					    			</div>
					    		</div>
				    		</label>
				    	</ion-item>
				    </ion-list>
				  </ion-card-content>
					
				</ion-card>
			</div>
			<div *ngIf="type == 'Información'">
				<ion-card class="ion-no-margin card-detalle" style="border-radius: 18px;">
					
				  <ion-card-content>
				    <!-- Add card content here! -->
				    <ion-list class="ion-no-padding">
				    	<ion-item>
				    		<label>
					    		Compra Mínima
					    		<span>15,00€</span>
				    		</label>
				    	</ion-item>

				    	<ion-item>
				    		<label>
					    		Tiempo Medio
					    		<span>45 min</span>
				    		</label>
				    	</ion-item>

				    	<ion-item>
				    		<label>
					    		Capacidad
					    		<span>30 PAX</span>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label>
					    		Horario
					    		<span>10:00 - 23:00</span>
				    		</label>
				    	</ion-item>
				    </ion-list>
				  </ion-card-content>
					
				</ion-card>
			</div>
			<div *ngIf="type == 'Comentarios'">
				<ion-card class="ion-no-margin card-detalle" style="border-radius: 18px;">
					
				  <ion-card-content>
				    <!-- Add card content here! -->
				    <ion-list class="ion-no-padding">
				    	<ion-item>
				    		<label class="comment">
					    		Illya Alvarado
					    		<p>
					    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iusto recusandae obcaecati neque enim omnis ipsum quos quis unde dolore necessitatibus, quas numquam fugit, amet perspiciatis! Iusto in quos autem.
					    		</p>
					    		<ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star-half"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
				    		</label>
				    	</ion-item>

				    	<ion-item>
				    		<label class="comment">
					    		Jorge Solano
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id obcaecati ad facilis molestias impedit porro, neque reiciendis itaque optio, ullam, deleniti est natus eum quod repellendus consequuntur quidem? Quam, laborum.</p>
					    		<ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
				    		</label>
				    	</ion-item>

				    	<ion-item>
				    		<label class="comment">
					    		Ricardo Vaz
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ut dolorum soluta quam eveniet dicta perferendis, voluptatum et deleniti repellat, adipisci voluptatibus nihil ipsum aperiam, cupiditate saepe explicabo itaque porro?</p>
					    		
					    		<ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star-half"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
				    		</label>
				    	</ion-item>

				    	<ion-item lines="none">
				    		<label class="comment">
					    		Jose María Sanz
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero doloribus dolores soluta aliquid nobis illo laboriosam incidunt tempore odio repudiandae, natus esse, ea sequi ex ipsa expedita neque minus cumque!</p>

					    		<ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star"></ion-icon>
							    <ion-icon name="star-outline"></ion-icon>
				    		</label>
				    	</ion-item>
				    </ion-list>
				  </ion-card-content>
					
				</ion-card>
			</div>

		</div>

	</div>

</ion-content>
