
<div class="ion-padding" style="background-image: url(assets/fondo-restaurante-01.jpg); background-size: cover; background-position: center; height: fit-content; min-height: 100%;">
	

<h4> <ion-icon name="chevron-back"></ion-icon>

	<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	<ion-icon src="assets/restaurant-menu.svg"></ion-icon>

	<ion-icon style="margin-left: 8px;" name="reload-outline"></ion-icon>

</h4>

<span routerDirection="forward" style="background-image: url(assets/restaurant.jpg)" class="logo-restaurante"></span>



<div id="title-restaurant">
	
	<h2 style="width: calc(100% - 50px); float: left;">
		Brooklin River Bar (50 m)
	</h2>
	<span style="width: 50px; float: right; font-size: 40px; color: #808080; text-align: right; top: 6px; position: relative;">
		<ion-icon name="heart-outline"></ion-icon>
	</span>
	<div>
	    <span>
	    	4.3
	    </span>

	    <ion-icon name="star"></ion-icon>
	    <ion-icon name="star"></ion-icon>
	    <ion-icon name="star"></ion-icon>
	    <ion-icon name="star-half"></ion-icon>
	    <ion-icon name="star-outline"></ion-icon>
    </div>

    <p>
    	Famosa y exclusiva terraza de Verano ubicada en el cauce histórico del río Guadalquivir justo en plen corazón histórico de la ciudad. Disfruta con nosotrs de las mejores puestas de sol y tardeos de la capital.
    </p>

</div>

<br>

<div class="prime-time">

	<div class="text-info">
		<!-- En PRIME TIME <br> -->
		<div>
			
    		Ocupación ahora: <br>
    		<span>80%</span>
		
		</div>
	</div>

	<div class="fire">
		<img src="assets/fire.svg" alt="">
	</div>
	
</div>

<br>
<br>

<ion-row>
	
	<ion-col size="6">
		<ion-button class="an-button">
			Reservar Mesa
		</ion-button>
	</ion-col>

	<ion-col size="6">
		<ion-button class="an-button">
			Inscribirse en Lista
		</ion-button>
	</ion-col>

	<ion-col size="6">
		<ion-button class="an-button">
			Reservados
		</ion-button>
	</ion-col>

	<ion-col size="6">
		<ion-button class="an-button">
			Galeria de Fotos
		</ion-button>
	</ion-col>

	<ion-col size="6">
		<ion-button class="an-button">
			Ofertas
		</ion-button>
	</ion-col>

	<ion-col size="6">
		<ion-button class="an-button">
			Eventos
		</ion-button>
	</ion-col>

</ion-row>

</div>

<!-- <div class="bottom-information" style="bottom: -480px;">
	
	<div class="handler">
		<ion-icon name="chevron-up"></ion-icon>
	</div>
	<div class="information-box">

	</div>

</div> -->