h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 35px;
	
}

.overqr {
	margin-top: 15%;
	padding: 12px;
}

.an-button {
	display: block;
	--border-radius: 22px;
	font-size: 10px;
	// width: 50%;
	// float: right;
	height: 50px;

	span {
		display: inline-block;
	}
}

.opaque {
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: .5;
}