<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon [routerLink]="['/login']" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Favoritos</h3>

	<br>

	<app-favoritos-tutorial *ngIf="tutorialValue < 14"></app-favoritos-tutorial>

	<div *ngIf="tutorialValue >= 14">
		
		<div *ngIf="favoritos && favoritos.length > 0">
			
			<div class="favorito" *ngFor="let l of favoritos" (click)="getLocal(l)" [routerLink]="['/tabs/home/detalles/'+l.id]">
				<ion-row>
					<ion-col size="3">
						<div class="rest-pic" [ngStyle]="{'background-image': 'url('+l.avatar+')'}">
							
						</div>
					</ion-col>
					<ion-col size="9">
						<div class="rest-info">
							<label class="title">{{l.title}}</label>

							<small>{{l.locality.title}}</small>

							<label class="label-1">{{l.stars ? (l.stars | number:'1.2-2') : '0.00'}}</label>

							<ion-icon name="heart-outline"></ion-icon>
						</div>
					</ion-col>
				</ion-row>
			</div>

			<!-- <div class="favorito">
				<ion-row>
					<ion-col size="3">
						<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
							
						</div>
					</ion-col>
					<ion-col size="9">
						<div class="rest-info">
							<label class="title">Brooklyn River Bar</label>

							<small>Marbella, Málaga</small>

							<label class="label-1">4.3</label>

							<ion-icon name="heart-outline"></ion-icon>
						</div>
					</ion-col>
				</ion-row>
			</div>

			<div class="favorito">
				<ion-row>
					<ion-col size="3">
						<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
							
						</div>
					</ion-col>
					<ion-col size="9">
						<div class="rest-info">
							<label class="title">Brooklyn River Bar</label>

							<small>Marbella, Málaga</small>

							<label class="label-1">4.3</label>

							<ion-icon name="heart-outline"></ion-icon>
						</div>
					</ion-col>
				</ion-row>
			</div> -->

		</div>

		<div class="no-favorites" *ngIf="favoritos && favoritos.length == 0">
			<h2>Añadir local <br> Favorito
				<small>Haz clic en el siguiente botón <br> para buscar un local</small>
			</h2>

			<ion-button class="an-button" [routerLink]="['/tabs/home']">Buscar</ion-button>
		</div>
	</div>


</ion-content>
