ion-content {
	--background: url(../../../assets/fondo-01.png) 0 0/100% 100% no-repeat;
	--background-size: cover;
	--background-position: center;
}

h2 {
	color: #a365b8;
	text-align: center;
	font-weight: 100;
	font-size: 32px;
	margin-top: -20px;
}

h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 0;
	
}

h4 {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

h5 {
	color: #f0f0f0;
	margin-bottom: 12px;
	position: relative;
	small {
		right: 0;
		color: gray;
		font-size: 10px;
		position: absolute;
		bottom: 0;
	}
}

.an-button {
	display: block;
	--border-radius: 22px;
	font-size: 10px;
	width: 50%;
	float: right;
	height: 50px;
}

.clip-path {
	border: 1px solid #fff;
	border-bottom: none;
	border-radius: 12px;
	// clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 50% 100%, 0% 60%, 0 0);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
	height: 150px;
	position: relative;
	&:before, &:after {
		content: "";
		width: 100%;
		position: absolute;
		border-bottom: 1px solid #fff;
	}
	&:before {
		transform: rotate(-16deg);
	    left: 48%;
	    top: 77px;
	}
	&:after {
		transform: rotate(16deg);
	    right: 48%;
	    top: 77px;

	}
	.icon {
		// border-radius: 12px;
		// border: 1px solid #fff;
		padding: 8px;
		height: 90px;
		display: flex;
		width: 110px;
		// margin-bottom: 10px;
		img {
			margin: auto;
			height: 70%;
		}
	}
}

.logo-restaurante {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-size: cover;
	background-position: center;
	border: 8px solid #a365b8;
}

.title-tactic {
	text-align: left;
	color: #fff;
	margin: auto;
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}

.tactic-icon {
	border-radius: 12px;
	border: 1px solid #fff;
	padding: 8px;
	height: 90px;
	display: flex;
	width: 110px;
	margin-bottom: 10px;
	img {
		margin: auto;
		height: 70%;
	}
}