ion-content {
	// --background: url(../../../assets/fondo-01.png) 0 0/100% 100% no-repeat;
	--background-size: cover;
	--background-position: center;
}

h2 {
	color: #a365b8;
	text-align: center;
	font-weight: 100;
	font-size: 32px;
	margin-top: -20px;
}

h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 0;
	
}

h4 {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

h5 {
	color: #f0f0f0;
	margin-bottom: 12px;
	position: relative;
	small {
		right: 0;
		color: gray;
		font-size: 10px;
		position: absolute;
		bottom: 0;
	}
}

.an-button {
	display: block;
	--border-radius: 18px;
	font-size: 10px;
	// width: 50%;
	// float: right;
	margin-top: 12px;
	height: 50px;
}

.clip-path {
	border: 1px solid #fff;
	border-bottom: none;
	border-radius: 12px;
	// clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 50% 100%, 0% 60%, 0 0);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
	height: 150px;
	position: relative;
	&:before, &:after {
		content: "";
		width: 100%;
		position: absolute;
		border-bottom: 1px solid #fff;
	}
	&:before {
		transform: rotate(-16deg);
	    left: 48%;
	    top: 77px;
	}
	&:after {
		transform: rotate(16deg);
	    right: 48%;
	    top: 77px;

	}
	.icon {
		// border-radius: 12px;
		// border: 1px solid #fff;
		padding: 8px;
		height: 90px;
		display: flex;
		width: 110px;
		// margin-bottom: 10px;
		img {
			margin: auto;
			height: 70%;
		}
	}
}

.logo-restaurante {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-size: cover;
	background-position: center;
	border: 8px solid #a365b8;
}

.title-tactic {
	text-align: left;
	color: #fff;
	margin: auto;
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}

.tactic-icon {
	border-radius: 12px;
	border: 1px solid #fff;
	padding: 8px;
	height: 90px;
	display: flex;
	width: 110px;
	margin-bottom: 10px;
	img {
		margin: auto;
		height: 70%;
	}
}

/**/

.bottom-informationT{

	// position: fixed;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
	transition: all 300ms;
	z-index: 9999;
	left: 0;

	.handlerT {
		width: 100px;
		background-color: #1c1c1c;
		color: #a365b8;
		border-radius: 12px 12px 0 0;
		text-align: center;
		padding: 4px;
		margin: auto;
	}
	.information-box {
		background-color: #1c1c1c;
		height: 480px;
		border-radius: 30px 30px 0 0;
		padding: 32px 24px;
		overflow: auto;
	}
}

.type {
	font-size: 11px;
	padding: 8px;
	border-radius: 12px;
	border: 1px solid #fff;
	margin-bottom: 12px;
	margin-right: 1.5%;
	text-align: center;
	font-weight: 100;
}

.actual {
	border-color: #a365b8;
	color: #a365b8 !important;
}

.card-detalle {
	--border-radius: 20px;
	background-color: #373333;
	ion-list{
		background: transparent !important;
	}
	ion-item {
		font-size: 13px;
		--background: transparent !important;
		--inner-padding-end: 0;
		--inner-padding-start: 0;
		color: #b3b3b3;
		label {
			padding-top: 17px;
			padding-bottom: 12px;
		}
		span {
			display: block;
			font-size: 14px;
			color: #ccc;
		}
	}
}

label {
	width: 100%;
}

.menu-type {
	display: block; 
	border-bottom: 1px solid #1c1c1c;
	padding-bottom: 12px;
	small {
		float: right;
	}
}

.menu-items {
	background-color: #464545;
	transition: all 200ms;
	height: 0;

	.menu-item {
		position: relative;
		padding: 10px;
		border-bottom: 0.5px solid #1c1c1c;
		[name="add"] {
			position: absolute;
			right: 0;
			font-size: 30px;
			color: #a365b8;
			top: 20%;
		}
		span {
			color: silver;
		}
	}
}

.no-p-b {
	padding-bottom: 0 !important;
}

.comment {
	p {
		font-size: 12px;
		color: #767070;
		margin: 4px 0;
	}
	ion-icon {
		color: #e9a12f;
		font-size: 14px;
	}
}

.mini-image {
	width: 40px;
	height: 40px;
	border-radius: 3px;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
}

.loquesea {
	display: flex;
}
