<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon [routerLink]="['/login']" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<img src="assets/pin.svg" alt="" (click)="passData()" [routerLink]="['/tabs/home/map']" style="height: 28px;">

		<ion-icon (click)="changeBottom($event)" style="float: right;top: 4px;position: relative;color: #a365b8;" name="search"></ion-icon>

	</h4>

	<h3 style="border-bottom: 1px dashed #171717;">
		<ion-icon style="display: inline-block; position: relative; top: 4px;" name="search"></ion-icon>
		<input style="width: calc(100% - 32px); font-size: 24px; padding: 4px;" type="text" [(ngModel)]="query" class="searchable" placeholder="Buscar Establecimiento" (keyup.enter)="keyupEnter()" (keyup)="closeKeyboard($event)">
		<!-- Buscar -->
	</h3>

	<br>
	<br>

	<app-home-tutorial *ngIf="tutorialValue < 14"></app-home-tutorial>

	<div *ngIf="tutorialValue >= 14">
		
		<div class="central-block">
			
			<!-- <ion-list>

				<ion-item class="ion-no-padding" lines="none">
					<ion-label position="stacked">LOCALIDAD</ion-label>

					<div class="search">
						<span>
							<ion-icon name="search"></ion-icon>
						</span>

						<input type="text">
					</div>

				</ion-item>


			</ion-list> -->


			<h5>Ambientes</h5>

			<ion-slides [options]="slideOpts" style="margin-bottom: 40px;">
				
				<ion-slide *ngFor="let amb of ambients" [ngClass]="{'amb-selected': quickAmbient == amb.id}" (click)="selectQuickAmbient(amb.id)">
					<div>
						<img [src]="amb.avatar" alt="" class="img-ambient">

						<label class="ambient-label">{{amb.title}}</label>
					</div>
				</ion-slide>

				<!-- <ion-slide>
					<div>
						<img src="assets/beer.svg" alt="" class="img-ambient">

						<label class="ambient-label">Irlandés</label>
					</div>
				</ion-slide>

				<ion-slide>
					<div>
						<img src="assets/microphone.svg" alt="" class="img-ambient">

						<label class="ambient-label">Karaoke</label>
					</div>
				</ion-slide>

				<ion-slide>
					<div>
						<img src="assets/diners-club.svg" alt="" class="img-ambient">

						<label class="ambient-label">Discoteca</label>
					</div>
				</ion-slide>

				<ion-slide>
					<div>
						<img src="assets/alcohol.svg" alt="" class="img-ambient">

						<label class="ambient-label">Pub</label>
					</div>
				</ion-slide>

				<ion-slide>
					<div>
						<img src="assets/cocktail.svg" alt="" class="img-ambient">

						<label class="ambient-label">Cócteles</label>
					</div>
				</ion-slide> -->

			</ion-slides>

			<h5><span (click)="openFilter()">{{filter}}</span> <ion-icon style="position: relative; top: 4px; margin-left: 4px;" name="arrow-down"></ion-icon> <small (click)="selectQuickAmbient(null)">VER TODOS</small></h5>

			<ion-card *ngFor="let l of establishments | search:query" (click)="getLocal(l)" [routerLink]="['/tabs/home/detalles/'+l.id]" class="card-restaurante ion-no-margin"
			[ngStyle]="{'background-image': 'url('+l.main+')', 'background-size': 'cover', 'background-position': 'center'}">
			
			  <ion-card-content>
			    <label>{{l.title}} <br> <small>{{l.locality?.name}}, {{l.city}}</small></label>

			    <!-- <span style="position: absolute; right: 20px; top: 20px; color: #ccc; font-size: 10px;">{{l.ordering}}</span> -->
			    <br>
			    <div>
				    <span>
				    	{{l.stars ? (l.stars | number:'1.2-2') : '0.00'}}
				    </span>

				    <ion-icon [name]="l.stars | star:'0'"></ion-icon>
				    <ion-icon [name]="l.stars | star:'1'"></ion-icon>
				    <ion-icon [name]="l.stars | star:'2'"></ion-icon>
				    <ion-icon [name]="l.stars | star:'3'"></ion-icon>
				    <ion-icon [name]="l.stars | star:'4'"></ion-icon>
			    </div>
			  </ion-card-content>
			
			</ion-card>

			<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="getEstablishments($event)">
			    <ion-infinite-scroll-content
			      loadingSpinner="bubbles"
			      loadingText="Cargando establecimientos...">
			    </ion-infinite-scroll-content>
			</ion-infinite-scroll> -->

			<!-- <ion-card [routerLink]="['/tabs/home/detalles']" class="card-restaurante ion-no-margin" style="background-image: url(assets/bobby-logan.jpg); background-size: cover; background-position: center;">
			
			  <ion-card-content>
			    <label>Bobby Logan <br> <small>Torre del mar, Málaga</small></label>
			    <br>
			    <div>
				    <span>
				    	4.3
				    </span>

				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star-half"></ion-icon>
				    <ion-icon name="star-outline"></ion-icon>
			    </div>
			  </ion-card-content>
			
			</ion-card>

			<ion-card [routerLink]="['/tabs/home/detalles']" class="card-restaurante ion-no-margin" style="background-image: url(assets/burger.jpg); background-size: cover; background-position: center;">
			
			  <ion-card-content>
			    <label>Fury Burguer <br> <small>Torremolinos, Málaga</small></label>
			    <br>
			    <div>
				    <span>
				    	4.3
				    </span>

				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star"></ion-icon>
				    <ion-icon name="star-half"></ion-icon>
				    <ion-icon name="star-outline"></ion-icon>
			    </div>
			  </ion-card-content>
			
			</ion-card> -->

		</div>

	</div>
	


</ion-content>

<div class="bottom-informationH">
	
	<div class="handlerH" (click)="changeBottom($event)">
		<ion-icon name="chevron-up"></ion-icon>
	</div>
	<div class="information-boxH">

		<label>LOCALIDAD <small (click)="passFilterData()"><ion-icon name="filter"></ion-icon> FILTRO AVANZADO</small></label>
		<ion-list>

			<ion-item class="ion-no-padding" lines="none" style="overflow: unset;">

				<div class="search">
					<span>
						<ion-icon name="search"></ion-icon>
					</span>

					<input type="text" id="searchH">

					<!-- <input type="text" id="searchH"
					[(ngModel)]="buscar" (keyup)="goBuscar()"
					> -->

					<!-- <div class="list-search" *ngIf="openDialog">
						
						<ul style="padding: 0">
							<li style="list-style: none; border-bottom: 1px solid #6e6e6e; padding: 4px 8px;"
							(click)="selectProvince(pr.id,pr.name)"
							*ngFor="let pr of provincias">{{pr.name}}</li>
						</ul>

					</div> -->
				</div>

			</ion-item>

			<hr style="border-bottom: .5px solid #767070">

			<div class="selections">
				
				<ion-row>
					<ion-col (click)="select(1)" [ngClass]="selection == 1 ? 'selected' : ''">
						<small>AMBIENTES</small>
						<label>{{ambientes | search:ambiente:'category' }}</label>
					</ion-col>

					<ion-col (click)="select(2)" [ngClass]="selection == 2 ? 'selected' : ''">
						<small>TIPO DE MUSICA</small>
						<label>{{tmusica | search:musica:'category' }}</label>
					</ion-col>
				</ion-row>

				<hr style="border-bottom: .5px solid #767070">

				<div *ngIf="selection == 1">
					<h5>AMBIENTES</h5>

					<div [ngClass]="ambiente == a.id ? 'type actual' : 'type'" *ngFor="let a of ambientes" (click)="ambiente = a.id">{{a.title}}</div>

					<br>

					<div style="clear: both;"></div>

					<!-- <ion-button class="an-button alt" (click)="selectQuickAmbient(null,true)" style="float: left; width: 40%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button> -->

					<ion-button class="an-button" (click)="cerrar()">Aplicar</ion-button>

					<div style="clear: both;"></div>
				</div>

				<div *ngIf="selection == 2">
					<h5>TIPO DE MÚSICA</h5>

					<div [ngClass]="musica == m.id ? 'type actual' : 'type'" *ngFor="let m of tmusica" (click)="musica = m.id">{{m.title}}</div>

					<br>

					<div style="clear: both;"></div>

					<!-- <ion-button class="an-button alt" (click)="selectQuickAmbient(null,true)" style="float: left; width: 40%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button> -->

					<ion-button class="an-button" (click)="cerrar()">Aplicar</ion-button>

					<div style="clear: both;"></div>
				</div>

				<ion-button class="an-button alt-2" (click)="selectQuickAmbient(null,true)" style="/*float: left;*/ width: 50%;">

						<ion-row>
							<ion-col style="text-align: center; border: none !important;">
								<ion-icon name="close"></ion-icon>
							</ion-col>
							<ion-col>
								Borrar <br> Filtros
							</ion-col>
						</ion-row>

					</ion-button>

					<div style="clear: both;"></div>
			</div>


		</ion-list>
		
	</div>

</div>
