ion-content {
	--background: url(../../../assets/fondo-02.png) 0 0/100% 100% no-repeat;
}

h3 {
	color: #767070;
	font-weight: 700;
	font-size: 32px;
	margin-top: 35px;
	
}

h4 {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

.profile-pic {
	border-radius: 20px !important;
}

.an-button {
	display: block;
	--border-radius: 22px;
	font-size: 10px;
	// width: 50%;
	// float: right;
	height: 50px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}

small {
	margin-bottom: 10px;
	color: #acacac;
	display: block;
}