<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Carrito</h3>

	<br>

	<section *ngFor="let e of establishments; let i = index">

		<div *ngIf="e.products.length > 0">
			
			<span class="menu-type" (click)="collapse(i)">{{e.establishment.title}} </span>
			<div class="menu-items" [id]="'cart_items-'+i">
				<div class="menu-item" *ngFor="let plate of e.products; let j = index">
					<ion-row style="background-color: #373333; border-radius: 20px; padding: 10px;">
						<ion-col size="4">
							<div class="profile-pic" [ngStyle]="{'background-image': 'url('+plate.product.avatar+')'}">
								
							</div>
						</ion-col>
						<ion-col size="8" class="info-ropero">
							<label>{{plate.product.title}}</label>
							<small [innerHtml]="plate.product.description"></small>

							<div style="margin-top: 16px;">
								<ion-icon fix-top [ngClass]="plate.quantity == 0 ? 'disabled' : '' " (click)="subQ(i,j)" name="remove-circle"></ion-icon>

								<span style="margin: 0 10px; font-size: 16px; display: inline-block; width: 20px; text-align: center; position: relative; top: -1px;">
									{{plate.quantity}}
								</span>

								<ion-icon fix-top name="add-circle" (click)="addQ(i,j)"></ion-icon>

								<span style="font-size: 18px;position: absolute;right: 6px;bottom: 6px; color: #a365b8">{{plate.quantity*plate.price}}€</span>
							</div>
						</ion-col>
					</ion-row>
				</div>

				<span class="total">Total: <span>{{ e | cartTotal }}€</span></span>

				<ion-button class="an-button" (click)="pagar(e.id)">
					Pagar
				</ion-button>
			</div>

		</div>
		
	</section>

</ion-content>
