<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.back()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Carrito</h3>

	<br>

	<ion-row style="background-color: #373333; border-radius: 20px; padding: 10px; margin-bottom: 20px;">
		<ion-col size="4">
			<div class="profile-pic" style="background-image: url(assets/wine.jpg)">
				
			</div>
		</ion-col>
		<ion-col size="8" class="info-ropero">
			<label>Botella de Chivas</label>
			<small>Botella de Chivas...</small>

			<div style="margin-top: 16px;">
				<ion-icon fix-top [ngClass]="quantity0 == 0 ? 'disabled' : '' " (click)="subQ(0)" name="remove-circle"></ion-icon>

				<span style="margin: 0 10px; font-size: 16px; display: inline-block; width: 20px; text-align: center; position: relative; top: -1px;">
					{{quantity0}}
				</span>

				<ion-icon fix-top name="add-circle" (click)="addQ(0)"></ion-icon>

				<span style="font-size: 18px;position: absolute;right: 6px;bottom: 6px; color: #a365b8">{{quantity0*12.00}}€</span>
			</div>
		</ion-col>
	</ion-row>

	<ion-row style="background-color: #373333; border-radius: 20px; padding: 10px; margin-bottom: 20px;">
		<ion-col size="4">
			<div class="profile-pic" style="background-image: url(assets/cup.jpg)">
				
			</div>
		</ion-col>
		<ion-col size="8" class="info-ropero">
			<label>Copa de Chivas</label>
			<small>Copa de Chivas...</small>

			<div style="margin-top: 16px;">
				<ion-icon fix-top [ngClass]="quantity1 == 0 ? 'disabled' : '' " (click)="subQ(1)" name="remove-circle"></ion-icon>

				<span style="margin: 0 10px; font-size: 16px; display: inline-block; width: 20px; text-align: center; position: relative; top: -1px;">
					{{quantity1}}
				</span>

				<ion-icon fix-top name="add-circle" (click)="addQ(1)"></ion-icon>

				<span style="font-size: 18px;position: absolute;right: 6px;bottom: 6px; color: #a365b8">{{quantity1*7.50}}€</span>
			</div>
		</ion-col>
	</ion-row>

	<span id="total">Total: <b>{{(quantity0*12.00)+(quantity1*7.50)}}€</b></span>

	<br>

	<ion-button class="an-button" (click)="nav.back()">
		Pagar
	</ion-button>

</ion-content>
