<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4>
		<!-- <ion-icon [routerLink]="['/login']" routerDirection="root" name="chevron-back"></ion-icon> -->

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<img src="../assets/logo.svg" alt="" class="logo mt-def" style="margin: -20px auto">

	<h3>Ofertas destacadas</h3>

	<br>

	<app-ofertas-tutorial *ngIf="tutorialValue < 14"></app-ofertas-tutorial>

	<div *ngIf="tutorialValue >= 14">
		
		<ion-row style="margin-bottom: 12px;" *ngFor="let o of ofertas">
			<!-- <ion-col size="9" *ngIf="(o | expired:'diff') > 0"> -->
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" [ngStyle]="{'background-image': 'url('+o.avatar+')'}">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">{{o.title}}</label>

								<span style="position: absolute; right: 0px; top: 0px; color: #ccc; font-size: 10px;">{{o.ordering}}</span>

								<small>{{o.establishment.title}}</small>

								<label class="label-1">{{o.type == 1 ? 'Descuento' : 'Promoción'}}</label>
								<label class="label-2">{{(o | expired:'diff') <= 0 ? '0' : (o | expired:'diff')}} Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3" style="height: auto;">
				<div class="right-side-off" style="height: 100%">
					<h1>{{o.type == 1 ? o.quantity : o.quantity+'x1'}}</h1>
				</div>
			</ion-col>
		</ion-row>

		<!-- <ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Descuento</label>
								<label class="label-2">11 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>%40</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-row style="margin-bottom: 12px;">
			<ion-col size="9">
				<div class="left-side-off">
					<ion-row>
						<ion-col size="4">
							<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
								
							</div>
						</ion-col>
						<ion-col size="8">
							<div class="rest-info">
								<label class="title">Brooklyn River Bar</label>

								<small>Marbella, Málaga</small>

								<label class="label-1">Descuento</label>
								<label class="label-2">11 Días</label>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
			<ion-col size="3">
				<div class="right-side-off">
					<h1>%20</h1>
				</div>
			</ion-col>
		</ion-row> -->

	</div>

</ion-content>
