<div>
			
	<div class="favorito">
		<ion-row>
			<ion-col size="3">
				<div class="rest-pic" style="background-image: url('../assets/fondo-restaurante-01.jpg')">
					
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="rest-info">
					<label class="title">Brooklyn River Bar</label>

					<small>Marbella, Málaga</small>

					<label class="label-1">4.3</label>

					<ion-icon name="heart-outline"></ion-icon>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<div class="favorito">
		<ion-row>
			<ion-col size="3">
				<div class="rest-pic" style="background-image: url('../assets/restaurant.jpg')">
					
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="rest-info">
					<label class="title">Grill House, Restaurant</label>

					<small>Madrid, Madrid</small>

					<label class="label-1">5.0</label>

					<ion-icon name="heart-outline"></ion-icon>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<div class="favorito">
		<ion-row>
			<ion-col size="3">
				<div class="rest-pic" style="background-image: url('../assets/wine.jpg')">
					
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="rest-info">
					<label class="title">Bar Gueroil</label>

					<small>Cájiz, Málaga</small>

					<label class="label-1">4.8</label>

					<ion-icon name="heart-outline"></ion-icon>
				</div>
			</ion-col>
		</ion-row>
	</div>

</div>