<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<div class="ion-padding" style="background-image: url(assets/fondo-02.png); background-size: cover; background-position: center; height: fit-content; min-height: 100%;">
		

	<h4> <ion-icon (click)="nav.back()" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

		<!-- <img src="assets/pin.svg" alt="" [routerLink]="['/tabs/home/map']" style="height: 28px;"> -->

	</h4>

	<h3>Listas <br> {{local?.title}}</h3>

	<br>

	<span [ngStyle]="{'background-image': 'url('+local.avatar+')'}" class="logo-restaurante"></span>

	<ion-card class="list-card" *ngFor="let list of lists; let i = index" [ngClass]="{'full': (list | percent) == 100 && !(list | guests:user.id:'guest')}">
		
		<ion-card-content>
			<ion-row>
				<ion-col size="2" style="display: flex;" >
					<div style="display: flex;" *ngIf="(list | percent) != 100 || ((list | percent) == 100 && (list | guests:user.id:'guest'))" (click)="addGuess(list,i)">
						<ion-icon *ngIf="list | guests:user.id:'guest'" name="checkbox" style="color: lightgreen;"></ion-icon>
						<ion-icon *ngIf="!(list | guests:user.id:'guest')" name="square-outline"></ion-icon>
					</div>
					<div style="display: flex;" *ngIf="(list | percent) == 100 && !(list | guests:user.id:'guest')">
						<ion-icon name="close-circle-outline" style="color: crimson;"></ion-icon>
					</div>
				</ion-col>
				<ion-col size="8">
					<h5>{{list.title}}</h5>

					<h6 *ngIf="list.participations > 0">
						<span *ngIf="(list | percent) != 100">La lista está al:</span>
						<span *ngIf="(list | percent) == 100">La lista está llena:</span>
						<span>{{list | percent}}%</span>
					</h6>
				</ion-col>
				<ion-col size="2" style="display: flex;" *ngIf="(list | percent) > 50">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card>

	<!-- <ion-card class="list-card">
		
		<ion-card-content>
			<ion-row>
				<ion-col size="2" style="display: flex;">
					<ion-icon name="checkbox"></ion-icon>
				</ion-col>
				<ion-col size="8">
					<h5>Nombre de la lista 2</h5>

					<h6>
						La lista está al:
						<span>20%</span>
					</h6>
				</ion-col>
				<ion-col size="2" style="display: flex;">
					
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card>

	<ion-card class="list-card full">
		
		<ion-card-content>
			<ion-row>
				<ion-col size="2" style="display: flex;">
				</ion-col>
				<ion-col size="8">
					<h5>Nombre de la lista 3</h5>

					<h6>
						La lista está completa
						<span>100%</span>
					</h6>
				</ion-col>
				<ion-col size="2" style="display: flex;">
					<img src="assets/fire.svg" alt="">
				</ion-col>
			</ion-row>
		</ion-card-content>

	</ion-card> -->
	
	</div>

</ion-content>
