<!-- <ion-header hidden>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<h4> <ion-icon (click)="nav.pop()" routerDirection="root" name="chevron-back"></ion-icon>

		<ion-menu-toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-menu-toggle>

	</h4>

	<h3>Ropero Digital</h3>

	<!-- <br *ngIf="step < 4"> -->

	<ion-list class="ion-no-padding">
		<ion-item>
			<ion-label stacked>Local</ion-label>
			<ion-select [(ngModel)]="local_id" [value]="local_id" (ionChange)="retrieveClosets()">
				<ion-select-option *ngFor="let l of locals" [value]="l.id">{{l.title}}</ion-select-option>	
			</ion-select>
		</ion-item>
	</ion-list>

	<br>

	<div *ngIf="roperos.length > 0">
		
		<span (click)="selected = -1" [ngClass]="selected == -1 ? 'topsite pink' : 'topsite'">Todos</span> |
		<span (click)="selected = 0" [ngClass]="selected == 0 ? 'topsite pink' : 'topsite'">Por asignar</span> |
		<span (click)="selected = 1" [ngClass]="selected == 1 ? 'topsite pink' : 'topsite'">En uso</span> |
		<span (click)="selected = 2" [ngClass]="selected == 2 ? 'topsite pink' : 'topsite'">Entregados</span>

		<br>

		<br>

		<div>
			<ion-card class="ion-no-margin card-detalle" style="border-radius: 18px;" *ngIf="(roperos | pedidos:'ropero':selected).length > 0">
				
			  <ion-card-content>
			    <!-- Add card content here! -->
			    <ion-list class="ion-no-padding" *ngFor="let o of roperos | pedidos:'ropero':selected; let i = index">
			    	<ion-item lines="none">
			    		<label class="no-p-b">
				    		<span class="menu-type" (click)="collapse(i)">{{o.user.name+' '+o.user.last_name}} <br> <span>{{o.created_at | expired:'hour'}}</span> <small> <ion-icon name="arrow-down"></ion-icon> </small></span>
				    		<div class="menu-items" [id]="'ropero-items-'+i">
				    			<div class="menu-item">

				    				<!-- // -->
				    				<ion-row>
				    					<ion-col size="8" class="ion-no-padding">
				    						
				    						<ion-list class="ion-no-padding">
				    							<ion-item class="item ion-no-padding">
				    								{{o.quantity}} Prenda{{o.quantity == 1 ? '' : 's'}}
				    							</ion-item>
				    							<ion-item class="total ion-no-padding">
				    								<b>Total</b>

				    								<span slot="end">{{o.quantity*16}}.00€</span>
				    							</ion-item>
				    						</ion-list>

				    					</ion-col>
				    					<ion-col size="4">
				    						<!-- <img src="assets/qr.svg" alt="" style="width: 90%; margin: auto; display: block; margin-top: 4px;"> -->
				    						<div class="an-button" (click)="asignar(o.id)" *ngIf="o.status == 0">Asignar <br> percha</div>
				    						<div class="an-button" (click)="entregar(o.id)" *ngIf="o.status == 1">Marcar <br> como <br> entregado</div>
				    					</ion-col>

				    					<ion-col size="12" class="ion-no-padding">

		    								<span class="white">Estado del pedido</span>
		    								<small class="crimson" *ngIf="o.status == 0">Por asignar</small> <br>
		    								<small class="pink" *ngIf="o.status == 1">La prenda está en la percha Nº: <b style="color: #fff"> {{o.percha}}</b></small> <br>
		    								<small class="green" *ngIf="o.status == 2">La prenda ha sido entregada</small> <br>

		    								<span class="gray">{{o.updated_at | expired:'hour'}}</span>
				    					</ion-col>

				    				</ion-row>

				    			</div>
				    		</div>
			    		</label>
			    	</ion-item>
			    </ion-list>
			  </ion-card-content>
				
			</ion-card>
		</div>

	</div>

	<div *ngIf="roperos.length == 0 && local_id">
		<span class="topsite">No hay roperos que mostrar</span>
	</div>

	<div *ngIf="roperos.length == 0 && !local_id">
		<span class="topsite">Seleccione un local</span>
	</div>


</ion-content>
